@charset "UTF-8";


*, *:before, *:after {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	height: 100%;
    width: 100%;
	font-family:  ' ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 游ゴシック体, 'Yu Gothic', YuGothic,メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 13px;
	line-height: 135%;
	letter-spacing:1px;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
p {
	line-height: 150%;
}
strong {
	font-weight: bold;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
img {
	border: none;
	vertical-align: top;
}

header,nav,footer{
	margin: 0;
	padding: 0;
}

ul, ol, dl, dt, dd, li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

table {
	border: none;
	border-collapse: collapse;
	empty-cells: show;
}
th,td {
	text-align: left;
}


/* float */
.flL { float: left; }
.flR { float: right; }
.floatNone{float: none;}
.txtCenter{ text-align:center;}

/* img float */
.imgR {	float: right;	margin: 0 0 10px 10px; }
.imgL {	float: left;	 margin: 0 10px 10px 0; }

/* margin */
.mgT0	 { margin-top: 0 !important; }
.mgT10 { margin-top: 10px !important; }
.mgT20 { margin-top: 20px !important; }
.mgT40 { margin-top: 40px !important; }
.mgT60 { margin-top: 60px !important; }
.mgT80 { margin-top: 80px !important; }

.mgR0 {margin-right:0 !important;}
.mgR30 {margin-right: 30px !important;}
.mgR35 {margin-right: 35px !important;}
.mgR18 {margin-right: 18px !important;}
.mgR50 {margin-right: 50px !important;}
.mgR60 {margin-right: 60px !important;}
.mgR70 {margin-right: 70px !important;}
.mgR80 {margin-right: 80px !important;}
.mgR90 {margin-right: 90px !important;}

.mgL10 {margin-left: 10px !important;}
.mgL20 {margin-left: 20px !important;}
.mgL30 {margin-left: 30px !important;}
.mgL40 {margin-left: 40px !important;}
.mgL50 {margin-left: 50px !important;}
.mgL60 {margin-left: 60px !important;}
.mgL70 {margin-left: 70px !important;}
.mgL80 {margin-left: 80px !important;}
.mgL90 {margin-left: 90px !important;}

.mgB0	 { margin-bottom: 0 !important; }
.mgB10 { margin-bottom: 10px !important; }
.mgB20 { margin-bottom: 20px !important; }
.mgB40 { margin-bottom: 40px !important; }
.mgB50 { margin-bottom: 50px !important; }
.mgB60 { margin-bottom: 60px !important; }
.mgB80 { margin-bottom: 80px !important; }

.pdT0 { padding-top: 0 !important; }
.pdB0 { padding-bottom: 0 !important; }
.pdL0 { padding-left: 0 !important; }
.pdL10 { padding-left: 10px !important; }
.pdL20 { padding-left: 20px !important; }
.pdR0 { padding-right: 0 !important; }
.pdT15 { padding-top: 15px !important; }
.pdT50 { padding-top: 50px !important; }
.pdT30 { padding-top: 30px !important; }
.pdR16 { padding-right: 16px !important; }
.pdR10 { padding-right: 10px !important; }
.pdR20 { padding-right: 20px !important; }
.pdR30 { padding-right: 30px !important; }
.pdR40 { padding-right: 40px !important; }
.pdR50 { padding-right: 50px !important; }
.pdR100 { padding-right: 100px !important; }
.pdR150 { padding-right: 150px !important; }
.pdR250 { padding-right: 250px !important; }

.bdT0 { border-top: none !important; }
.bdB0 { border-bottom: none !important; }
.bdL0 { border-left: none !important; }
.bdR0 { border-right: none !important; }

.ltSp{ letter-spacing: 0 !important;}

/* clearfix */
.clearfix:after {
  content: "."; 
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  min-height: 1px;
}
* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/* clear */
.clear {
	clear:both;
}


