@charset "utf-8";


#wrapper{
	width: 100%;
	margin: 0 auto;
}
.inner{
	width:95%;
	margin:0 auto;
	position: relative;
}


/*----------- header  --------
 * 
 */


	
.header .sp_logo {
	background-color: #FFFFFF;
	padding: 8px 0 26px 0 !important;
	border-bottom: none !important;
}
.header .menu {
	display: block;
	top: 34px;
	right: 30px;
	z-index: 100;
	position: absolute;
	width: 40px;
	height: 33px;
	cursor: pointer;
}
.header .menu div {
	background: #ed7248;
	margin: 8px 0 0 0;
	transition: all 0.35s;
	border-radius: 5px;
	width: 40px;
	height: 5px;
}
.on .line_one {
	transform: rotate(45deg) translate(14px, 8px);
}

.on .line_two {
	opacity: 0;
}

.on .line_three {
	transform: rotate(-45deg) translate(9px, -5px);
}

.header .sp_nav {
	width: 100%;
	z-index: 50;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(255,255,255,.9);
	padding: 20px 0 0 0;
}
.header .sp_nav li {
	padding: 12px 0;
	text-align: center;
	border-bottom: 1px solid #ed7248;
}
.header .sp_nav li span {
	color: #000000;
	display: block;
	margin: 5px 0 0 0;
}



/*----------- header  --------
 * 
 */


/*----------- footer  --------
 * 
 */
.sp_footer{
	width: 100%;
	background-color: #000000;
	padding: 6% 0;
}
.sp_footer .ftr_spLogo{
	text-align: center;
}


/*----------- #Sp Common  --------
 * 
 */

.sp_social {
    width: 100%;
    text-align: center;
    margin-bottom: 1px;
}

#sp_top .entryList{
	width: 100% !important; 
	margin:0 auto !important;
}

/*----------- #sp_top  --------
 * 
 */


/*----------- #top  --------
 * 
 */
#sp_top .banner img{
	width:100%;
}
#sp_top .block01 .inner{
	width: 90%;
	margin:0 auto;
}
#sp_top .block01,.block03{
	width: 100%;
	background: url(../images/top/bg01.png) repeat;
	padding: 30px 0 40px 0;
}
#sp_top .block01 .tit{
	text-align: center;
}
#sp_top .block01 .blk01Img{
	width: 100%;
}/*------- block01 -------*/

/*------- block02 -------*/
#sp_top .block02{
	width: 100%;
}
#sp_top .block02 img{
	width: 100%;
	height: 200px;
}/*------- block02 -------*/

/*------- block03 -------*/
#sp_top .block03 .block03_left{
	padding-bottom: 30px;
	background: url('../images/top/top_line.png') no-repeat bottom center;	
	width: 90%;
	margin:0 auto;
}
#sp_top .block03_left .left_inner .img01{
	padding-bottom: 30px;
}
#sp_top .block03_left .left_inner .icon01{
	float: left;
	padding-right: 10px;
}
#sp_top .block03_left .left_inner span{
	font-size: 18px;
	color: #f15a24;
	font-weight: bold;
	margin: 10px 0 5px 0;
	display: inline-block;
}
#sp_top .block03_left .left_inner .txt01{
	font-size: 11px;
	color: #000;
	font-weight: bold;
}
#sp_top .block03 .slider{
	width: 90%;
	margin: 0 auto;
}
#sp_top .block03 .btn{
	width: 150px;
	border: 1px solid #f08b48;
	background-color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-top: 30px;
	font-size: 14px;	
	border-radius: 5px;
	font-weight: bold;
}
#sp_top .btn a{
	color: #f15a24;
}
#sp_top .arrow{
	padding-right: 5px;
}
#sp_top .block03_right{	
    position: absolute;
    top: -65px;
    right:85px;
    z-index: 1;
}
#sp_top .icon03{
	vertical-align: middle;
	padding-right: 10px;
}
#sp_top .tit02{
	width: 100%;
	text-align: center;
	display: inline-block;
	font-size: 24px;
	color: #000;
	font-weight: bold;
	padding: 50px 0 30px 0;
}
#sp_top .button{
	text-align: center;
}
#sp_top .button .btn{
	width: 150px !important;
	padding: 10px 0 10px 0!important;
	display: inline-block;
	color: #f15a24;
}/*------- block03 -------*/



/*----------- #sp_top  --------
 * 
 */

	



/*----------- #sp_top --------
 * 
 */


