@charset "utf-8";

@media only screen and (max-width:680px){

	/*----------- header  --------
	 * 
	 */
	
	.inner{
		width: 95%;
		margin:0 auto;
	}
	.header .logo{
		background-color:#FFFFFF;
	}
	.header .logo img{
		width: 100%
	}
	.header ul.nav{
		display:none;
	}
	.header .menu{
		display: block;
		top:29px;
		right:20px;
		z-index: 100;
		position: absolute;
		width: 40px;
		height: 33px;	
		cursor: pointer;
	}
	.header .menu div{
		background: #ed7248;
  		margin: 5px;
  		transition: all 0.35s;
  		border-radius: 5px;
  		width: 50px;
		height: 8px;
	}
	
	.on .line_one {
		-webkit-transform: rotate(45deg) translate(11px, 8px);
		-moz-transform:rotate(45deg) translate(11px, 8px);
		transform:rotate(45deg) translate(11px, 8px);
	}


	.on .line_two { opacity: 0; }
	
	
	.on .line_three {
		-webkit-transform: rotate(-45deg) translate(10px, -8px);
		-moz-transform:rotate(-45deg) translate(10px, -8px);
		transform:rotate(-45deg) translate(10px, -8px);
	}

	
	.header .sp_nav {
	    width: 100%;
	    z-index: 50;
	    position: absolute;
	    top: 0;
	    right: 0;
	    background-color: rgba(255,255,255,.8);
   }
   .header .sp_nav li {
	    padding: 12px 0;
	    text-align: center;
	    border-bottom: 1px solid #f08c00;
	}
	.header .sp_nav li.sp_logo{
		background-color: #FFFFFF;
		padding: 20px 0;
	}
	.header .sp_nav li a{
		color: #000000;
	}
	/*----------- header  --------
	 * 
	 */
	
	
	/*----------- footer  --------
	 * 
	 */
	.footer .ftrLink{
		float: none !important;
		width: 100%;
		text-align: center;
	}
	.footer .ftrLink li{
		display: inline-block;
		float: none !important;
		margin-bottom: 20px;
	}	
	.footer .copyRight{
		float: none !important;
		text-align: center;
	}
	
	 .pagetop {
	display: none;
	position: fixed;
	bottom: 5px;
	right: 3px;
}

.pagetop img{
	width:90%;
}

.pagetop a {
	display: block;
	width: 70px;
	height: 70px;
	text-decoration: none;
	line-height: 30px;
}


	/*----------- footer  --------
	 * 
	 */
	
	/*----------- common  --------
	 * 
	 */
	.entry {
		margin: 0 auto !important;
	}
	.entry .sec02 .btn .img_r {
	    right: 7%;
	    top: -15%;
	}
	.entry .sec02 li{
		width:100%;
		text-align:center;
	}
	.entry .sec01 h2 {
	    font-size: 20px;
   }
	.entry .sec02 li.li2{
		padding:30px 0;
	}
	.entry .sec02 li img {
		max-width:100%;
	}
	/*.entry img.entry_img{
		display: none;
	}
	.entry img.sp_entryImg{
		display: block;
		width: 100%;
	}
	.entry .sec01 h2{
		display: none;
	}*/
	.entry .sec02 .btn ul li{
		float: none;
		text-align: left;
		margin-top:20px;
		
	}
	
		
	.social{
		position: relative;
		width: 100%;
		text-align: center;
		right: 0;
		bottom: 0;
	}
	/*----------- common  --------
	 * 
	 */
	
	.pc_only {
		display: none;
	}

	.sp_only {
		display: inline;
	}
	
	/*----------- top  --------
	 * 
	 */
	
	#top .banner .pc_banner{
		display: none;
	}
	#top .banner .sp_banner{
		display: block;
	}
	#top .block01 .main_img01{
		width: 100%;
	}
	#top .block01 .tit img {
	    width: 100%;
	}
	#top .block02 .pc_blk02Img{
		display: none;
	}
	#top .block02 .sp_blk02Img{
		display: block;
	}
	#top .bxslider{
		display: block;
	}
	#top .pcSlider{
		display: none;
	}
	#top .block03 .btn{
		margin: 8px auto 32px;
	}
	#top .block03 .btn.btn_last{
		margin: 8px auto 0px;
	}
	
	#top .block03_right img {
	    width: 80%;
	}
	#top .block03_right {
		display: none;
	    position: absolute;
	    top: 0;
	    right: 2%;
	    z-index: 1;
	}
	#top .block03_left .left_inner{
		width: 100%;
		float: none;
		margin: 0px;
	}
	
	#top .block03_left .left_inner .img01 {
		width: 100%;
		margin: 0px 0px 16px;
		padding-bottom: 0px;
	}
	
	#top .block03_left .left_inner .icon01 {
		float: none;
		width: 50px;
		display: inline-block;
		vertical-align: middle;
	}
	
	#top .block03_left .left_inner span {
		margin: 0px 20px 0px 0px;
		display: inline-block;
		vertical-align: middle;
		line-height: initial;
	}
	#top .tit02.sp_only {
		display: inline-block;
	}
	
	/*----------- top  --------
	 * 
	 */
	
	
	
	/*----------- about  --------
	 * 
	 */ 
	 #about h3.mem_tit {
		width: 100%;
	    text-align: center;
	    display: inline-block;
	    padding-top: 5%;
	}
	#about .block01 .blk01_txt {
	    font-size: 23px;
	}
	#about .block01 .blk01_img {
	    width: 55%;
	}
	#about .block01 .corporate {
	    background: url('../images/about/img02.png') no-repeat center center;
	    padding: 0;
	    height: 698px;
	}
	
		#about .block01 .corporate h4{
		font-size:18px;
		line-height: 1.5em;
		text-align:left;
	}
	#about .block01 .corporate p {
		text-align:left;
		font-size:14px;
		line-height:1.5em;
	}
	
	#about .block02{
		padding: 0;
	}
	#about .block03 .maparea {
	    width: 100%;
	    margin: 0 auto;
	}
	#about .block02 .blk02_txtGp .txt_sec .sec01 {
	    width: 100%;
	    float: none;
	    display: block;
	    height: auto;
	}
	#about .block02 .blk02_txtGp .txt_sec .sec02 {
	    width: 100%;
	    float: none;
	    display: block;
	    height: auto;

	}
	#about .block02 .blk02_txtGp .txt_sec {
	    height: 100%;
	}
	#about .block03 figure.mgR {
	    width: 100%;
	    text-align: center;
	}
	#about .block03 figure {
	    text-align: center;
	    width: 100%;
	}
	#about .block03 figure.mgR {
	    margin: 0;
	}
	/*----------- about  --------
	 * 
	 */ 
	  /*----------- #member  --------
	 * 
	 */
	 
	#member .block01{
		width: 100%;
	    padding: 50px 0;
	}
	#member .bnr_left{
		    width: 100%;
	    float: none;
	    margin-top: 4px;
	}
	#member .bnr_left img{
		width: 100%;
	}
	#member .bnr_right{
		width: 100%;
		padding:0;
	}
	#member .bnr_right ul{
		padding: 30px;
		display: inline-block;
	}
	#member .bnr_right ul li{
		width: 100%;
		color: #fff;
		font-size: 20px;
		padding-top: 10px;
	}
	#member .bnr_right ul li.bold{
		font-weight:bold;
	}
	#member .bnr_right .pdbottom{
		padding-bottom: 20px;
		font-size: 14px;
	}
	#member .bnr_right .pad50{
		padding-bottom: 20px;
	}
	#member .bnr_right .li_last{
		font-size: 14px;
		padding-top: 10px;
	}
	#member .block01 .block01_left{
		width: 100%;
		float: none;
	}
	#member .block01_left h1{
		background: url('../images/about/dotline.png') repeat-x bottom center;
	    padding-bottom: 20px;
	}
	#member .block01_left .txt01{
		font-size: 20px;
	    color: #000;
	    padding: 20px 0;
	    font-weight: bold;
	}
	#member .block01_left .txt02{
		font-size: 14px;
	    color: #000;
	    line-height: 2em;
	}
	#member .block01_right{
		float: none;
		width: 100%;
	}
	#member .block01_right img.img-w{
		width: 100%;
		margin: 30px 0 0 0;
	}
	#member .block01_right .sak_img{
		text-align: left;
		margin-top: -80px;

	}
	#member .block01_right .sak_img img{
			width:35%;
	}
	
	#member .block02{
		width: 100%;
		margin:0 auto;
	}
	#member .block02 .sec01 .bl02-tit{
		color: #F35403;
	    font-size: 13px;
	    text-align: center;
	    line-height: 50px;
	}
	#member .block02 .sec01 .bl02-tit img{
		padding-top: 16px;
	}
	#member .block02 .sec01 .bl02-tit2{
		font-size: 19px;
	    color: #000;
	    text-align: left;
	    line-height: 1.5em;
	    font-weight: bold;
		margin-bottom:30px;
	}
	#member .block02 .sec01 p{
		line-height: 25px;
		font-size: 14px;
	}
	#member .block02 .sec01 .work{
		margin: 30px 0;
	    width: 100%;
	}
	#member .block02 .sec01 .work .work_txt{
		float: left;
	}
	#member .block02 .sec01 .work .work_des{
		float: left;
		width: 90%;
	}
	#member .block02 .sec01 .work .work_des img{
		width: 100%;
		padding-top: 3px;
	}
	#member .block02 .sec02{
		width: 100%;
		margin:0 auto;
		padding: 20px 0;
	
	}
	#member .block02 .sec02 .sec02-l{
		width: 100%;
		float: none;
	}
	#member .block02 .sec02 .sec02-l img{
		width: 100%;
	
	}
	#member .block02 .sec02 .sec02-r{
		width: 100%;
		float: none;
		}
	#member .block02 .sec02 .blf-tit{
		font-weight: bold;
	    font-size: 18px;
	    color: #000;
	    line-height: 25px;
	    margin-top: 40px;
	}
	#member .block02 .sec02 .sec02-r p{
		padding-top: 25px;
	    line-height: 30px;
	    font-size: 14px;
	    color: #000;
	}
	
	#member .block02 .sec02  .bls{
		width: 100%;
	    background-color: #fff;
	    border-radius: 5px;
	    margin: 30px 0;
	}
	#member .block02 .sec02 .vision-tit{
		padding:20px 20px 0 20px;
	}
	#member .block02 .sec02 .sec02-r .vision-tit span {
	    font-size: 15px;
	    font-weight: bold;
	    padding-right: 20px;
	}
	#member .block02 .sec02 .bls p{
		padding:20px;
	}
	#member .block03 ul.pro-f {
		display: none;
	}
	#member .block03_slide{
		width: 100%;
		background-color: #fff;
		padding: 0 0 30px 0;
		display: block;
	}
	#member .block03_slide h2{
		margin:45px 0;
	}
	#member .block03_slide h2 span{
	    font-size: 20px;
	    font-weight: bold;
	    padding-right: 20px;
	    letter-spacing: 2px;
	    }
	#member .block03_slide .block02{
		width: 90%;
		margin:0 auto;
	}
	#member  .block03 ul.pro-f{
		display:none;
	}
	#member .block03 .slide{
		display:block;
		width:80%;
		margin:0 auto;
	}
	#member .slide .bx-next{
		right: -15% !important;
	}
	#member .slide .bx-prev{
		left: -12% !important;
	}
	/*----------- #member  --------
	 * 
	 */
	
	
	
	/*----------- #gallery  --------
	 * 
	 */
	#gallery .block02 .video ul{
		width: 100%;
		text-align: center;
	}
	#gallery .block02 .video iframe{
		width: 100%;
	}
	#gallery .block02 .video li{
		float: none;
		padding-right: 0;
	}
	#gallery .block02 .video li p {
		padding: 20px 0;
	}
	#gallery .block02 .picture{
		width: 100%;
	}
	#gallery .block02 .picture ul{
		width:100%;
		display:block;
		text-align: center;
	}
	#gallery .block02 .picture ul li img{
		width: 100%;
	}
	#privacy .blk01_txt{
		font-size: 22px;
	}
	#gallery .block02 .picture ul li:last-child{
		margin-right:20px;
	}
	
#gallery .block02 .icon01{
	width:17%;
	}
		#gallery .block02 .gall_tit {
	    font-size: 16px;
		letter-spacing:0.01em;
	}
	
	/*----------- entry  --------
	 * 
	 */ 
	 #entry .block .block01 .entry_plan img{
	 	width: 100%;
	 }
	 #entry .block .block02 .pad-r{
	 	padding-right:0;
	 	padding-bottom: 20px;
	 }/*----------- entry  --------
	 * 
	 */
	 
	 
	 
	 /*----------- #sp_special  --------
	 * 
	 */
	 #special{
		 display:none;
	 }
	 #sp_special {
	 background: url(../images/top/bg01.png) repeat;
	 width:100%;
	 margin:0 auto;
	 display:block;
	 }
	 #sp_special ul{
		 list-style:none;
		 display:block;
	 }
	 #sp_special li{
		 width:100%;
	 }
	 #sp_special li img{
		 width:100%;
	 }
	 #sp_special .special_tit{
		width: 100%;
		margin:0 auto;
		background: url('../images/common/border.png') repeat-x top center #fff;
	    padding: 3px 0 0 0;
	}
	 #sp_special  .spe_htit2 {
	    text-align: center;
	    padding: 14px 0 40px 0;
	    background: url(../images/special/dotline.png) repeat-x bottom center;
	}
	#sp_special  .spe_htit2 img{
		width:100%;
	}
	#sp_special  .special_tit{
		background-color:#fff;
	}
	#sp_special  .special_tit img{
		max-width:100%;
	}
	#sp_special .spe_htit{
		text-align:justify;
		padding:23px 0 38px;
		}
	 /*----------- #sp_special  --------
	 * 
	 */
}
@media only screen and (max-width:680px) and (min-height:490px){

	 .pc{
		 display:none;
	}
	 
	 #movie{
		position: relative;
		height: auto !important;
		height: 100%;
		min-height: 100%;
	}
	 #movie #wrapper{
		background: url(../images/movie/sp/back.png) repeat top center;
		width:100%;
		background-attachment: fixed;
	}
	 #movie .header_movie {
		 margin-top: -5px;
		padding: 2px 0 10px 0;
	}
	#movie .bx-viewport{
	    margin-top: -20px;
	}
	 #movie .header .menu {
		top: 17px;
	}
	.header_movie{
		position: fixed;
		background: url(../images/common/border.png) repeat-x bottom center;
		background-color: #fff;
		padding: 15px 0 25px 0;
		z-index: 9999;
	}
	.header_movie .people{
	}
	 #movie .img{
		 position:absolute;
	}
	 #movie .block01{
	    padding-top: 40%;
	 }
	 #movie .block02,
	 #movie .block03{
		padding-top: 10%;
	}
	 #movie .block01,
	 #movie .block02{
		text-align: center;
		height: 100%;
	    margin-bottom: 20px;
	}
	#movie .block03{
		text-align: center;
		height: 100%;
	     margin-bottom: 60%;
	}
	 #movie .top{
	    text-align: center;
		width: 95%;
		margin: 100px 0 0 2%;
	}
	 #movie .sp_img{
		position:relative;
		height: 50px;
	}
	 #movie .block01 .sp_img{
		position:relative;
		height: 50px;
		margin-bottom:30%;
	} 
     .sp_img .flag_lef{
		bottom: 20px;
		left: 13px;
	}
	#movie .block01 .sp_img .text_rig1,
	#movie .block02 .sp_img .text_rig1,
	#movie .block03 .sp_img .text_rig1{
		width: 70%;
		top: 30%;
		right: 29%;
	}
	#movie .block01 .sp_img .text_rig{
	    width: 70%;
		top: 180%;
		right: 29%;
	}
	 #movie .block02 .sp_img .text_rig{
		width: 70%;
		top: 280%;
		right: 29%;
	}
	#movie .block01 .sp_img .text_lef1,
	#movie .block03 .sp_img .text_lef1{
		width: 70%;
		top: 103%;
		left: 29%;
	}
	#movie .block01 .sp_img .text_lef,
	#movie .block03 .sp_img .text_lef{
		width: 70%;
		top: 280%;
		left: 29%;
	}
	#movie .block01 .woman_rig,
	#movie .block02 .woman_rig,
	#movie .block03 .woman_rig{
		width: 30%;
		top: 50%;
		right: -7px;
		z-index:0;
	}
	.sp_img .woman_lef{
		width: 30%;
		top: 9%;
		left: -7px;
	}
	 #movie .block01 .recruit_movie,
	 #movie .block02 .recruit_movie,
	 #movie .block03 .recruit_movie{
		margin: auto;
		background: url(../images/movie/sp/movie_back.png) no-repeat center bottom;
		background-size: contain;
	    margin-top: 37%;
		width: 95%;
		height: 100%;
		padding-top: 13%;
	}
	 .recruit_movie .movie_tit{
		 width:95%;
		 margin:auto;
		 text-align:center;
		padding-right: 1%;
	}
	 #movie .block01 .recruit_movie iframe,
	 #movie .block02 .recruit_movie iframe,
	 #movie .block03 .recruit_movie iframe{
		padding-bottom: 2%;
		margin-top: 17%;
	}
 	 #movie .people{
		width:100%;
		bottom: 64px;
	    margin-bottom: -1px;
	}

	
	.footer_movie{
		position: fixed;
		width: 100%;
		background-color:#000000;
		padding: 10px 0;
		bottom: 0;
	}
	.footer_movie .ftrLink li{
		float: left;
		margin-right: 20px;
	    margin-bottom: 10px;
	}
	.footer_movie .ftrLink li a{
		color: #FFFFFF;
		font-size:12px;
		padding-left:20px;
		display: block; 
	}
	.footer_movie  .copyRight{
		color: #FFFFFF;
		font-size:12px;
	}

	 
	 	 /*----------- #sp_movie  --------
	 * 
	 */
}
@media only screen and (max-height:490px){
	.header .logo{
		width: 100%;
	}
	.header .logo img{
		width: 60%
	}
	.header .logo a{
	    margin: 0;
	}
	.header .logo span {
    float: left;
    padding: 7px 0 0 0;
    font-size: 16px;
	}
	.header .logo br{
		display:none;
	}
	.header .menu{
		top: 6px;
		right: 24px;
	}
	.header .sp_nav {
	    width: 100%;
	    z-index: 50;
	    position: absolute;
	    top: 0;
	    right: 0;
	    background-color: rgba(255,255,255,.8);
   }
   .header .sp_nav li {
	    padding: 12px 0;
	    text-align: center;
	    border-bottom: 1px solid #f08c00;
	}
	.header .sp_nav li.sp_logo{
		background-color: #FFFFFF;
		padding: 20px 0;
	}
	.header .sp_nav li a{
		color: #000000;
	}
	/*----------- header  --------
	 * 
	 */

	/*----------- footer  --------
	 * 
	 */
	 .footer {
		padding: 0;
	}
	.footer .ftrLink{
		display:none;
	}	
	.footer .copyRight{
	    float: none !important;
		text-align: center;
		width: 100%;
		margin: 2px auto;
	}
	#movie .footer_movie {
		position: fixed;
		bottom: 0;
	}
	#movie .people {
	    bottom: 10px;
		width: 100%;
	}
	.clearfix {
		min-height: 1px;
	}
	.sp{
		display:none;
	}
	/*----------- movie  --------
	 * 
	 */
	#movie #wrapper {
		padding-bottom: 50px;
	}
	#movie .block01,
	#movie .block02,
	#movie .block03 {
		padding-top: 20px;
	}
	#movie .flag_rig, #movie .flag_lef,
	#movie .index_lef, #movie .index_rig{
		display:none;
	}
	#movie .block01 .text_rig,
	#movie .block03 .text_rig {
		width: 40%;
		top: 77px;
		right: 3px;
	}
	#movie .block02 .text_lef{
		width: 40%;
		top: 77px;
		lef: 3px;
	}
	#movie .block01 .woman_rig,
	#movie .block03 .woman_rig {
		bottom: -34px;
		right: 27px;
		width: 18%;
	}
	#movie .block02 .woman_lef {
		bottom: -34px;
		lef: 27px;
		width: 18%;
	}
	#movie .block01 .recruit_movie,
	#movie .block02 .recruit_movie,
	#movie .block03 .recruit_movie {
		background-size:contain;
		width: 380px;
		height: 360px;
		position: relative;
	}
	#movie .block01 .recruit_movie,
	#movie .block03 .recruit_movie {
		margin: auto auto auto 5%;
	}
	#movie .block02 .recruit_movie{
		margin: auto 5% auto auto;
	}
	#movie .block01 .recruit_movie iframe,
	#movie .block02 .recruit_movie iframe,
	#movie .block03 .recruit_movie iframe {
		margin-top: 108px;
	}
	#movie .bx-wrapper .bx-pager {
    display: none;
	}
	#movie .bx-wrapper .bx-controls-direction a {
		top: 42%;
		width: 24px;
	    z-index: 0;
	}
	#movie .bx-wrapper .bx-next {
		right: -12px !important;
	}
	#movie .bx-wrapper .bx-prev {
		left: -1% !important;
		background: url(../images/movie/prev.png) no-repeat right;
	}
}
@media only screen and (min-width:680px){
	.sp{
		display:none;
	}
}

@media only screen and (max-width:580px) and (min-height: 490px){
	#movie .block01 .sp_img .text_rig1,
	#movie .block02 .sp_img .text_rig1,
	#movie .block03 .sp_img .text_rig1 {
		width: 70%;
		top: 80%;
		right: 29%;
	}
	#movie .block02 .sp_img .text_rig {
		width: 70%;
		top: 310%;
		right: 29%;
	}
	#movie .block01 .recruit_movie, #movie .block02 .recruit_movie, #movie .block03 .recruit_movie {
		margin: auto;
		background: url(../images/movie/sp/movie_back.png) no-repeat center bottom;
		background-size: contain;
		margin-top: 37%;
		width: 95%;
		padding-top: 24%;
	}

}

@media only screen and (max-width:500px) and (min-height: 490px){
	#movie .block01 {
        padding-top: 50%;
	}
	#movie .block01 .sp_img .text_rig1,
	#movie .block02 .sp_img .text_rig1,
	#movie .block03 .sp_img .text_rig1 {
		width: 70%;
		top: 80%;
		right: 29%;
	}
	#movie .block02 .sp_img .text_rig {
		width: 70%;
		top: 310%;
		right: 29%;
	}
	#movie .block01 .recruit_movie,
	#movie .block02 .recruit_movie,
	#movie .block03 .recruit_movie {
		margin-top: 26%;
		width: 95%;
		padding-top: 39%;
	}
}

@media only screen and (max-width:480px){
	.header .logo {
	    margin-left: -5px;
	}
	.header .logo span{
		font-size: 11px;
	}	
	.header .logo span{
		font-size: 10px;
		margin-left: 5px;
	}
	.header .logo a{
		margin: 0;
	}
	.header .menu{
		top: 34px;
		right: 10px;
	}
	.header .menu div{
		width: 40px;
   		height: 6px;
   		margin: 4px;
	}
	.on .line_one {
	    -webkit-transform: rotate(45deg) translate(7px, 5px);
	    -moz-transform: rotate(45deg) translate(7px, 5px);
	    transform: rotate(45deg) translate(7px, 5px);
	}
	.on .line_three{
		-webkit-transform: rotate(-45deg) translate(9px, -8px);
        -moz-transform: rotate(-45deg) translate(9px, -8px);
        transform: rotate(-45deg) translate(9px, -8px);
	}
	/*----------- top  --------
	 * 
	 */
	#top .block03_left .left_inner .img01{
		width: 100%;
	}
	#top .block03_left .left_inner .txt01 {
		width: 100%;
	}
	.entry .sec02 .btn ul li img{
		width: 80%;
	}
	#top .block03_right{
		right: 0;
	}
	#top .block03_right img{
		width: 60%
	}
	.entry .sec02 .btn .img_r {
	    right: 0;
	    top: -15%;
	}
	
		
	/*----------- #gallery  --------
	 * 
	 */
		#gallery  .block01 .blk01_txt{
		font-size: 14px;
		padding: 7% 0 0 0;
	}
		#gallery .block01 .blk01_img{
		width: 50%;
	}

	
	/*----------- about  --------
	 * 
	 */
	#about .block03 figure.mgR img{
	width: 100%;
	}
	#about .block03 figure img{
		width: 100%;
	}
	#about .block01 .blk01_txt{
		font-size: 14px;
		padding: 7% 0 0 0;
	} 
	#about .block01 .blk01_img{
		width: 50%;
	}
	
	/*----------- entry  --------
	 * 
	 */
	#entry .ent_htit {
	    font-size:23px;
	}
	#entry .ent_img{
		width:60%;
	}
	#entry .block p img{
		width: 100%;
	}
	#entry .block .block01 .blo1_h{
		font-size: 17px;
	}
	
	/*----------- movie  --------
	 * 
	 */
	 #movie .sp_img,
	 #movie .sp_img2{
		position:relative;
		height: 50px;
	} 
     .sp_img .flag_lef,
	 .sp_img2 .flag_lef{
		bottom: 20px;
		left: 13px;
	}
	 .sp_img .text_rig{
		width: 70%;
		top: 68%;
		right: 29%;
	}
	#movie .block01 .sp_img2 .text_lef,
	#movie .block03 .sp_img .text_lef{
		width: 70%;
		top: 250%;
		left: 29%;
	}
	.sp_img .woman_rig{
		width: 30%;
		top: 40%;
		right: -7px;
	}
	.sp_img .woman_lef,
	.sp_img .woman_lef2{
		width: 30%;
		top: 40%;
		left: -7px;
	}
	 #movie .block01 .recruit_movie,
	 #movie .block02 .recruit_movie,
	 #movie .block03 .recruit_movie{
		background-size: contain;
		margin-top: 20%;
		width: 98%;
	}
	#movie .block01 .sp_img .text_rig1 {
		top: 75%;
	}
	 .recruit_movie .movie_tit{
		 width:95%;
		 margin:auto;
		 text-align:center;
		padding-right: 1%;
	}
	 #movie .block01 .recruit_movie iframe,
	 #movie .block02 .recruit_movie iframe,
	 #movie .block03 .recruit_movie iframe{
		padding-bottom: 12%;
		margin-top: 17%;
	}
 	 #movie .people{
		width:100%;
		bottom: 64px;
	    margin-bottom: -1px;
	}
}

@media only screen and (max-width:420px){
	#movie .block01 .recruit_movie{
		background-size: contain;
		margin-top: -10%;
		width: 98%;
		padding-top: 50%;
	}
	#movie .block02 .recruit_movie,
	#movie .block03 .recruit_movie {
		background-size: contain;
		margin-top: 10%;
		width: 98%;
		padding-top: 50%;
	}
	#movie .block02 .sp_img .text_rig {
		top: 268%;
	}

}

@media only screen and (max-width:400px){
	#movie .block01 .sp_img .text_lef{
		top: 238%;
	}
	 #movie .block01 .recruit_movie{
		margin-top: -36%;
		padding-top: 66%;
	}
	 #movie .block01 .recruit_movie iframe,
	 #movie .block02 .recruit_movie iframe,
	 #movie .block03 .recruit_movie iframe{
		padding-bottom: 14%;
		margin-top: 17%;
	 }
	 #movie .block02 .recruit_movie,
	 #movie .block03 .recruit_movie {
		margin-top: -3%;
		padding-top: 66%;
	}
}

@media only screen and (max-width:320px){
	.entry .sec01 h2 {
	    font-size: 14px;
   }
	#top .block03_right img{
		width: 55%;
	}
	#top .block03_right{
		right: -5px;
	}
	.entry .sec02 .btn .img_r {
	    width: 15%;
	}
	#about .block03{
		margin-bottom: 0 !important;
		padding: 0!important;
	}
	#about .block01 .blk01_txt{
		padding:15px 0 0  0;
	}
	
	#about .block01 .corporate h4{
		font-size:18px;
		line-height: 1.5em;
		text-align:left;
	}
	#about .block01 .corporate p {
		text-align:left;
		font-size:15px;
	}

	#entry .ent_htit{
		padding: 20px 0 0 0;
		font-size: 20px;
	}
	#entry .ent_img{
		width:50%;
	}
	/*----------- movie  --------
	 * 
	 */
	 
	 #movie .block01 .recruit_movie{
	    margin-top: -60%;
		padding-top: 90%;
	}
	 #movie .block02 .recruit_movie,
	 #movie .block03 .recruit_movie {
		margin-top: -26%;
		padding-top: 90%;
	}
     #movie .block01 .recruit_movie iframe,
	 #movie .block02 .recruit_movie iframe,
	 #movie .block03 .recruit_movie iframe{
		padding-bottom: 6%;
		margin-top: 17%;
	}
	#movie .block02, #movie .block03 {
        padding-top: 0;
	}
	 #movie .block01 {
        padding-top: 60%;
	}

	#movie .people {
		bottom: 107px;
}
}

@media only screen and (max-width:380px){
	#movie .block01 .recruit_movie iframe,
	#movie .block02 .recruit_movie iframe,
	#movie .block03 .recruit_movie iframe {
		padding-bottom: 12%;
		margin-top: 17%;
	}
}

@media only screen and (max-width:240px){
	.header .logo span{
		font-size: 14px;
	}
	#top .block03_right img{
		width: 55%;
	}
	#top .block03_right{
		right: -5px;
	}
	#about .block03{
		margin-bottom: 0 !important;
		padding: 0!important;
	}
	#about .block01 .blk01_txt{
		font-size: 13px;
	}
	#about .block01 .blk01_img{
		width: 45%;
	}
	#member .block01_left h1  img{
		width:100%;
	}
	#member .block03 .slide {
	    display: block;
	    width: 60%;
	    margin: 0 auto;
	}
	#member .block03 li {
	    margin-right: 50px !important;
	}
	#member .slide .bx-next{
		background-size: 15px !important;
	}
	#member .slide .bx-prev{
		left: -12% !important;
	}
	#about .block01 .corporate h4{
		font-size:20px;
		line-height: 3px;
	}
	/*----------- movie  --------
	 * 
	 */
	#movie .block01 .recruit_movie,
	#movie .block02 .recruit_movie,
	#movie .block03 .recruit_movie{
		margin-top: 19%;
	}
	 #movie .block01 .sp_img .text_rig,
	 #movie .block02 .sp_img .text_rig,
	 #movie .block03 .sp_img .text_rig{
		width: 70%;
		top: 20%;
		right: 29%;
	}
	#movie .block01 .sp_img .text_rig1{
		width: 70%;
		top: -28%;
		right: 29%;
	}
	#movie .block02 .sp_img .text_lef{
		width: 70%;
		top: 20%;
		left: 29%;
	}
	.footer_movie .people{
		bottom: 80px;
	}
	
}

@media only screen and (max-height:800px) and (min-width:800px){
	#movie .header_movie {
		padding: 1px 0;
	}
	#movie .header ul.nav li img.navBd {
		margin: 2px 32px 6px 0;
	}
	#movie .header .logo {
		padding: 3px 0 0 0;
	}
	#movie .header ul.nav li a span {
		font-size: 10px;
		margin: 0;
	}
	#movie #wrapper {
		padding-bottom: 60px;
	}
	#movie .block01, #movie .block02, #movie .block03 {
		padding-top: 25px;
	}
	#movie .block01 .recruit_movie,
	#movie .block02 .recruit_movie,
	#movie .block03 .recruit_movie {
		width: 521px;
		height: 543px;
	}
	#movie .block01 .recruit_movie{
		background: url(../images/movie/movie_back1_800.png) no-repeat center;
		background-size: contain;
	}
	#movie .block02 .recruit_movie{
		background: url(../images/movie/movie_back2_800.png) no-repeat center;
		background-size: contain;
	}
	#movie .block03 .recruit_movie{
		background: url(../images/movie/movie_back3_800.png) no-repeat center;
		background-size: contain;
	}
	#movie .block01 .recruit_movie iframe,
	#movie .block02 .recruit_movie iframe,
	#movie .block03 .recruit_movie iframe {
		margin-top: 168px;
		width: 95%;
	}
	#movie .block01 .text_rig,
	#movie .block02 .text_lef,
	#movie .block03 .text_rig {
		top: 99px;
	}
	#movie .footer_movie {
       padding: 10px 0;
	}
	#movie .people {
    bottom: -10px;
    width: 100%;
    height: 23%;
	}
}