@charset "utf-8";


#wrapper{
	width: 100%;
	margin: 0 auto;
}
.inner{
	width:1007px;
	max-width:95%;
	margin:0 auto;
	position: relative;
}


/*----------- header  --------
 * 
 */
.header{
	width:100%;
	padding: 15px 0 25px 0;
	background-color: #fff;
}
.header .logo{
	float: left;
	padding: 10px 0 0 0 ;
}
.header .logo a{
	float: left;
	margin: 0 20px 0 0;
}
.header .logo span{
	float:left;
	padding: 14px 0 0 0 ;
	color: #333333;
	font-size: 14px;
	font-weight:bold;
}
.header ul.nav{
	float:right;
}
.header ul.nav li{
	display: inline-block;
	margin: 0 20px 0 0;
	text-align: center;
}
.header ul.nav li a span{
	color: #000;
	font-weight:bold;
	margin: 5px 0 0 0;
    display: block;
}
.header ul.nav li:last-child{
	margin: 0 0 0 0;
}
.header ul.nav li img.navBd{
	float: left;
    margin: 4px 30px 0 0;
}
.header .sp_nav{
	display:none;
}

/*----------- header  --------
 * 
 */


/*----------- footer  --------
 * 
 */
/*.footer{
	width:100%;	
	padding: 20px 0;
}

.footer .ftrSocial{
	width: 400px;
	margin:0 auto 20px;
}
.footer .ftrSec02{
	background-color:#000000;
	padding: 35px 0 40px 0;
}
.footer .ftr_right{
	margin-left:40px;
	padding:  10px 0 0 0;
}
.footer .ftr_right .ftrNav ul{
	border-left: 1px dotted #473e38;
	height: 200px;
	margin-left: 30px;
}
.footer .ftr_right .ftrNav ul li{	
	padding: 6px 0 11px 20px;
	background: url('../images/common/ico01.png') no-repeat top 11px left 20px;
}
.footer .ftr_right .ftrNav ul.ftrNav01 li{
	background: url('../images/common/ico01.png') no-repeat top 11px left 20px;
}
.footer .ftr_right .ftrNav ul.ftrNav02 li , .footer .ftr_right .ftrNav ul.ftrNav03 li{
	background: url('../images/common/ico02.png') no-repeat top 11px left 20px;
}
.footer .ftr_right .ftrNav ul.ftrNav04 li{
	background: url('../images/common/ico03.png') no-repeat top 11px left 20px;
}
.footer .ftr_right .ftrNav ul li a{
	color: #5e534a;
	font-size: 12px;
	font-weight: 600;
	padding-left: 10px;	
}

.footer .ftr_right .ftrLink .ftrLink01 li{
	display: inline-block;
	margin:  30px 0 0 0;
	background: url('../images/common/bdLine02.png') no-repeat top 3px right;
}
.footer .ftr_right .ftrLink .ftrLink01 li:last-child{
	background:none;
}
.footer .ftr_right .ftrLink .ftrLink01 li:last-child a{
	border-left: none;
}
.footer .ftr_right .ftrLink .ftrLink01 li a{
	color: #5e534a;
	font-size: 12px;
	font-weight: 600;
	background: url('../images/common/ico01.png') no-repeat top 5px left;
	padding:0  10px 0 8px;
	letter-spacing: -1px;
}
.footer .ftr_right .ftrLink .ftrLink02 li{
	background-color: #1f1e1d;
	display: inline-block;
	padding: 5px 18px;
	border-radius: 3px;
	margin:  20px 0 0 5px;
}
.footer .ftr_right .ftrLink .ftrLink02 li a{
	color: #88867f;
	font-size: 12px;
	font-weight: 600;
	background: url('../images/common/ico04.png') no-repeat top 5px left;
	padding:0  10px 0 8px;
	letter-spacing: -1px;
}*/

.footer{
	width: 100%;
	background-color:#000000;
	padding: 30px 0;
}
.footer .ftrLink li{
	float: left;
	margin-right: 20px;
	background:url('../images/common/ftr_ico.png') no-repeat top left;
	background-size: 16px;
}
.footer .ftrLink li a{
	color: #FFFFFF;
	font-size:14px;
	padding-left:20px;
	display: block; 
}
.footer  .copyRight{
	color: #FFFFFF;
	font-size:14px;
}

/*----------- footer  --------
 * 
 */
 .pagetop {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
}
.pagetop a {
	display: block;
	width: 92px;
	height: 92px;
	text-align: center;
	line-height: 50px;
}




/*----------- common  --------
 * 
 */

	.pc_only {
		display: inline;
	}

	.sp_only {
		display: none;
	}
	


/*------- entry -------*/
.entry {
    width: 100%;
    margin: 0 auto 100px;
    background-color: #fff;
    position: relative;
}
.entry img.entry_img{
	width: 100%;
}
.entry img.sp_entryImg{
	display: none;
}
.entry .sec01 {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.entry .sec01 h2{
	text-align: center;
	color:#ffffff;
	font-size: 30px;
	font-weight: 500;
	padding:7% 0;
	letter-spacing: 15px;
	font-family: 秀英初号明朝;
}

.entry .sec02 .btn {
	position: relative;
}
.entry .sec02 .btn .img_r{
	right: 50px;
	position: absolute;
	top:-30px;
}
.entry .sec02 .btn a span{
	float:left;
	padding-right: 10px;
	margin: 1px 0 0 0;
}
.entry .sec02 .btn ul li{
	float: left;
	margin:50px 0 10px 0 ;
}
.entry .sec02 .btn ul li{
	margin-right:20px;
}

.entry .sec02 .btn ul li:last-child{
	margin-right:0px;
}
/*------- entry -------*/


.social {
    margin-top: 30px;
    right: 20px;
    position: absolute;
}


/*----------- common  --------
 * 
 */


/*----------- #top  --------
 * 
 */
#top .banner img{
	width:100%;
}
#top .banner .sp_banner{
	display:none;
}
#top .block01,#top .block03{
	width: 100%;
	background: url(../images/top/bg01.png) repeat;
	padding: 30px 0 40px 0;
}
#top .block01 .tit{
	text-align: center;
}/*------- block01 -------*/

/*------- block02 -------*/
#top .block02{
	width: 100%;
}
#top .block02 img{
	width: 100%;
}
#top .block02 .sp_blk02Img{
	display: none;
}/*------- block02 -------*/

/*------- block03 -------*/
#top .block03 .block03_left{
	padding-bottom: 30px;
	background: url('../images/top/top_line.png') no-repeat bottom center;	
}
#top .block03_left .left_inner{
	width: 347px;
	float: left;
	margin-right: 40px;
}
#top .block03_left .left_inner .img01{
	padding-bottom: 30px;
}
#top .block03_left .left_inner .icon01{
	float: left;
	padding-right: 10px;
}
#top .block03_left .left_inner span{
	font-size: 18px;
	color: #f15a24;
	font-weight: bold;
	margin: 10px 0 5px 0;
	display: inline-block;
}
#top .block03_left .left_inner .txt01{
	font-size: 11px;
	color: #000;
	font-weight: bold;
}
#top .block03 .btn{
	width: 150px;
	border: 1px solid #f08b48;
	background-color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-top: 30px;
	font-size: 14px;	
	border-radius: 5px;
	font-weight: bold;
}
#top .btn a{
	color: #f15a24;
}
#top .arrow{
	padding-right: 5px;
}
#top .block03_right{	
    position: absolute;
    top: -65px;
    right:85px;
    z-index: 1;
}
#top .icon03{
	vertical-align: middle;
	padding-right: 10px;
}
#top .tit02{
	width: 100%;
	text-align: center;
	display: inline-block;
	font-size: 24px;
	color: #000;
	font-weight: bold;
	padding: 50px 0 30px 0;
}
#top .tit02.sp_only {
	display: none;
}

#top .bxslider{
	display: none;
}
#top .button{
	text-align: center;
}
#top .button .btn{
	width: 150px !important;
	padding: 10px 0 10px 0!important;
	display: inline-block;
	color: #f15a24;
}/*------- block03 -------*/



/*----------- #top  --------
 * 
 */




/*----------- #about  --------
 * 
 */
#about .block01{
	background: url('../images/common/border.png') repeat-x top center;
	padding: 3px 0 0 0;
}
#about .block01 .blk01_txt{
	float: left;
	color:#000000;
	font-size:30px;
	padding: 38px 0 0 0;
	font-weight: bold;
	font-family: 秀英初号明朝;
}
#about .block01 .blk01_img{
	float: right;
}
#about .block01 .corporate{
	background:url('../images/about/img02.png') no-repeat center center;
	padding:50px 0 279px 0;
}
#about  h3.mem_tit {
	text-align: center;
}
#about .block01  h3.mem_tit  span{
	color:#FFFFFF !important;
}
#about  h3.mem_tit  span{
	padding: 27px 0 0 15px;
    display: inline-table;
    font-size: 20px;
    font-weight:bold;
    color:#fa6944;
} 
#about .block01 .corporate h4 {
	text-align: center;
	 font-size: 22px;
    font-weight:bold;
    color:#FFFFFF;
    margin: 35px 0;
}
#about .block01 .corporate p{
	text-align: center;
	color:#FFFFFF;
	 font-size: 15px;
	 line-height: 2;
}/*--- block01 ---*/

#about .block02{
	background: url('../images/about/bg1.jpg') repeat center center;
	padding: 40px  0;
}
#about .block02 .blk02_txtGp{
	text-align: justify;
	background: url('../images/about/dotline.png') repeat-x top center;
}
#about .block02 .blk02_txtGp h3{
	font-size: 18px;
	margin: 40px 0 20px 0;
	font-weight:bold;
}
#about .block02 .blk02_txtGp p{
	font-size: 15px;
	margin-bottom: 20px;
}
#about .block02 .inner{
	 background: url('../images/about/bg_about.png') no-repeat center center;
}
#about .block02 .blk02_txtGp .txt_sec{
	display: table;
    height: 100%;   
}
#about .block02 .blk02_txtGp .txt_sec .sec01{
	float: left;
	width:45%;
	border-bottom: 1px solid #ED7248;
	display: table-cell;
    height: 100%;	
}
#about .block02 .blk02_txtGp .txt_sec .sec02{
	float: right;
	width:45%;
	border-bottom: 1px solid #ED7248;
	display: table-cell;
    height: 100%;	
}/*--- block02 ---*/

#about .block03{
	background:#FFFFFF !important;
	margin-bottom: 30px;
}
/*#about .block03 .maparea:after{
	content: '';
    display: block;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 90px;
    left: 0;
    background:rgba(0,0,0,.6);
	padding: 20px 0;
	z-index: 2;
}
.map-canvas{
	width:400px ;
	margin:0 auto;
}
#about .block03 .maparea p{
	position: absolute;
    top: 343px;
    left: 383px;
    z-index: 10;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}*/
#about .block03 .maparea{
	width:830px;
	margin:0 auto;
}
#about .block03 figure{
	display: inline-block;
}
#about .block03 figure.mgR{
	margin-right: 40px;
}
#about .block03 figure figcaption{
	margin-top: 20px;
	padding-left: 30px;
	font-size:14px;
	font-weight: bold;
}
/*----------- #about  --------
 * 
 */


/*----------- #member   --------
 * 
 */
#member{
	background: url(../images/top/bg01.png) repeat;
}
#member .banner{
	width: 100%;
	background: url('../images/common/border.png') repeat-x top center #e97248;
	padding: 1px 0 0 0;
}
#member .bnr_left{
	width: 888px;
	float: left;
	margin-top: 4px;
}
#member .bnr_right ul{
	padding: 30px;
	display: inline-block;
}
#member .bnr_right ul li{
	width: 100%;
	color: #fff;
	font-size: 26px;
	padding-top: 20px;
}
#member .bnr_right ul li.bold{
	font-weight:bold;
}
#member .bnr_right .pdbottom{
	padding-bottom: 100px;
	font-size: 14px;
}
#member .bnr_right .pad50{
	padding-bottom: 50px;
}
#member .bnr_right .li_last{
	font-size: 14px;
	padding-top: 10px;
}
/*------- block01 -------*/
#member .block01{
	width: 100%;
	padding: 50px 0;
}
#member .block01 .block01_left{
	width: 474px;
	float: left;
}
#member .block01_left h1{
	background: url('../images/about/dotline.png') repeat-x bottom center;
	padding-bottom: 20px;
}
#member .block01_left .txt01{
	font-size: 20px;
	color: #000;
	padding: 20px 0;
	font-weight: bold;
}
#member .block01_left .txt02{
	font-size: 14px;
	color: #000;
	line-height: 2em;
}
#member .block01_right{
	width: 480px;
	float: right;
}
#member .block01_right .sak_img{
	text-align: center;
	margin-top: -70px;
}
/*------- sec01 -------*/
#member .block02{
	width: 100%;
	margin:0 auto;
}
#member .block02 .sec01{
	padding:0;
}
#member .block02 .sec01 .bl02-tit{
	color: #F35403;
	font-size: 18px;
	text-align: center;
	line-height: 50px;

}
#member .block02 .sec01 .bl02-tit img{
	padding-top: 16px;
}
#member .block02 .sec01 .bl02-tit2{
	font-size: 21px;
	color: #000;
	text-align: center;
	line-height: 50px;
	font-weight:bold;

}
#member .block02 .sec01 p{
	line-height: 25px;
	font-size: 14px;
}
#member .block02 .sec01 .work{
	margin:30px 0;
}
#member .block02 .sec02{
	width: 100%;
	margin:0 auto;
	padding:20px 0;
}
#member .block02 .sec02 .sec02-l{
	float: left;
}
#member .block02 .sec02 .sec02-r{
	float: right;
	width: 61%;
}
#member .block02 .sec02 .sec02-r .blf-tit{
	font-weight: bold;
	font-size: 18px;
	color: #000;
	line-height: 25px;
}
#member .block02 .sec02 .sec02-r  p{
	padding-top: 25px;
	line-height: 30px;
	font-size: 14px;
	color: #000;
}
#member .block02 .sec02 .sec02-r .bls{
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	margin:30px 0;
}
#member .block02 .sec02 .sec02-r .bls p{
	padding: 20px;
}
#member .block02 .sec02 .sec02-r .vision-tit{
	padding: 20px 20px 0 20px;
}
#member .block02 .sec02 .sec02-r .vision-tit span{
	font-size: 15px;
	font-weight: bold;
	padding-right: 20px;
}
#member .dot-line{
	background:url(../images/member/member_sakurai/dotline.png) no-repeat center center;
	background-position:52px 0;
}
#member .block03 h2 span{
	font-size: 20px;
	font-weight: bold;
	padding-right: 20px;
	letter-spacing:2px;
}
#member .block03{
	width: 100%;
	background: #fff;
	padding:0 0 30px 0;
}
#member .block03 .slide{
	display: none;
}
#member .block03 h2{
	padding:40px 0 20px ;
}
#member  .block03 ul.pro-f{
	width: 100%;
    list-style: none;
    display: block;
    margin: 10px 0 30px 0;
}
#member  .block03 li{
	display: inline;
	padding-right: 11px;
}
#member .block03 li:last{
	padding-right: 0;
}
#member .block04{
	background-color: #FFFFFF !important;
}
/*----------- member  --------
 * 
 */


/*----------- #gallery  --------
 * 
 */
#gallery .block01{
	background: url('../images/common/border.png') repeat-x top center;
	padding: 3px 0 0 0;
}
#gallery .block01 .blk01_txt{
	float: left;
	color:#000000;
	font-size:30px;
	padding: 30px 0 0 0;
	font-weight: bold;
	font-family: 秀英初号明朝;
}
#gallery .block01 .blk01_img{
	float: right;
}/*------- block01 -------*/

#gallery .block02 {
    background: url('../images/gallery/bg1.jpg') repeat center center;
    padding: 40px 0 80px 0;
}
#gallery .block02 .gall_tit{
	font-size: 24px;
	color: #d96d44;
	font-weight: bold;
	letter-spacing: 3px;
}
#gallery .block02 .icon01{
	padding-right: 20px;
	display: initial;
    vertical-align: middle;
}
#gallery .block02 .video li{
	float: left;
	padding-right: 18px;
}
#gallery .block02 .video li p{
	text-align: center;
	font-size: 24px;
	color: #d96d44;
	font-weight: bold;
	padding-bottom: 10px;
}
#gallery .block02 .picture ul{
	margin: 30px 0;
}
#gallery .block02 .picture ul li{
	display:inline-block;
	margin-right: 20px;
	margin-bottom: 30px;
}
#gallery .block02 .picture ul li:last-child{
	margin-right: 0;
}

/*----------- #gallery  --------
 * 
 */



/*----------- special  --------
 * 
 */
#special .special_tit{
	width: 100%;
	margin:0 auto;
	background: url('../images/common/border.png') repeat-x top center #fff;
    padding: 3px 0 0 0;
}
#special .spe_htit{
	margin:22px 0 44px 0;
}
#special .special_tit img.border_t{
	width: 100%;
}
#special .block{
	background: url(../images/top/bg01.png) repeat;
}
#special .block .spe_htit2{
	text-align: center;
	padding: 14px 0 40px 0;
	background: url(../images/special/dotline.png) repeat-x bottom center;
}
#special .block .sec0{
	background:url(../images/special/bg_s.png) no-repeat center center;
}
#special .block .sec0 .f_block{
	width: 100%;
	margin:0 auto;
	position: relative;
}
#special .sec0 .f_block .img01{
	padding:122px 0 122px 57px;
	float: left;
}
#special .sec0 .f_block .img01_f{
	padding-top:42px;
}
#special .sec0 .f_block .img01_s{
	float: left;
	padding-left: 30px;
	margin-top: -14px;
}
#special .sec0 .f_block .img02_1b{
	bottom: -25px;
    position: absolute;
    right: -10px;
    }
#special .sec0 .s_block{
	width: 100%;
	position: relative;
	margin:0 auto;
}
#special .sec0 .s_block .img02_2b{
	top:25px;
	right: -10px;
	position: absolute;
}
 #special .sec0 .s_block .img02_f{
padding: 31px 0 0 208px;
}
#special .sec0 .t_block{
	width: 100%;
	margin:0 auto;
	position: relative;
}
#special .sec0 .t_block .img03_b{
	padding-top: 49px;
}
#special .sec0 .t_block .img03_f{
	padding-top: 35px;
	padding-left: 19px;
}

#special .sec0 .t_block .img03_s{
	top: -102px;
    right: 0px;
    position: absolute;
}
#special .sec0 .frt_block{
	width: 100%;
	margin:0 auto;
	position:relative;
}
#special .sec0 .frt_block .img04_b{
	float: right;
	margin: -54px 96px 0 0;
}
#special .sec0 .frt_block .img04_f{
	margin: 158px 0 0 104px;
}
#special .sec0 .frt_block .img04_s{
	top: -55px;
	left: -50px;
	position:absolute;
}
#special .sec0 .fit_block{
	position: relative;
	width: 100%;
	margin:0 auto;
	padding-bottom: 44px;
}
#special .sec0 .fit_block .img05_s{
	margin: 90px 0 0 -33px;
}
#special .sec0 .fit_block .img05_b{
	padding: 21px 0 0 48px;
}
#special .sec0 .fit_block .img05_f{
    top: -56px;
    position: absolute;
    right: 5px;
} 
#sp_special{
	display: none;
}

 /*----------- special  --------
 * 
 */


/*----------- privacy  --------
 * 
 */
#privacy .block01{
	background: url('../images/common/border.png') repeat-x top center;
	padding: 3px 0 0 0;
}
#privacy .blk01_txt{
	color:#000000;
	font-size:30px;
	padding: 50px 0;
	font-weight: bold;
	font-family: 秀英初号明朝;
}
#privacy .block02{
	background: url(../images/top/bg01.png) repeat;
	padding: 50px 0;
}
#privacy .bl02_inner{
	margin-bottom: 50px;
}
#privacy .bl02_inner .bl02_tit{
	border-left: 4px solid #d96d44;
	font-size: 18px;
	color: #000;
	padding:0 0 5px 10px;
	font-weight: bold;
	margin-bottom: 15px;
}
#privacy .bl02_inner .bl02_txt{
	font-size: 14px;
	color: #4d4d4d;
	line-height: 25px;
	font-weight: bold;
}
#privacy .bl02_inner ol{
	padding:10px 0 0 15px;
	color: #4d4d4d;
	font-size: 14px;
	font-weight: bold;
}
#privacy .bl02_inner ol li{
	padding-bottom: 10px;
	list-style-type: decimal !important;
}
#privacy .bl02_txt01{
	padding: 50px 0 0 0;
	color: #4d4d4d;
	font-size: 14px;
	font-weight: bold;
}
 /*----------- privacy  --------
 * 
 */


 /*----------- entry  --------
 * 
 */
 #entry{
 	width: 100%;
 	margin:0 auto;
 }
 #entry .entry_tit{
 	width: 100%;
 	margin:0 auto;
 	background-color: #fff;
 	background: url('../images/common/border.png') repeat-x top center;
    padding: 3px 0 0 0;
 }
 #entry .ent_htit{
 	float: left;
    color: #000000;
    font-size: 30px;
    padding: 38px 0 0 0;
    font-weight: bold;
    font-family: 秀英初号明朝;
 }
 #entry .entry_tit .border_t{
 	width:100%;
 }
 #entry .ent_htit .ent_htxt{
	float: left;
	padding: 45px 0;
 }
 #entry .ent_htit .ent_social{
 	float: right;
 }
 #entry .block{
 	background: url(../images/top/bg01.png) repeat; 
 }
 #entry .block .block01{
 	width: 100%;
 	margin:0 auto;
 	position: relative;
 }
 #entry .block .block01 .blo1_h{
 	background: url(../images/entry/h_img1.png) no-repeat;
 	padding: 67px 69px 40px 69px;
    font-size: 20px;
    color:#ED7248;
    font-weight: bold;
    background-position: 0px 45px;
 }
 #entry .block .block02 .blo1_h{
	background: url(../images/entry/h_img2.png) no-repeat;
	 background-position: 0px 45px;
 }
 #entry .block .block03 .blo1_h{
	background: url(../images/entry/h_img3.png) no-repeat;
	 background-position: 0px 45px;
 }
 #entry .block .block04 .blo1_h{
	background: url(../images/entry/h_img4.png) no-repeat;
	 background-position: 0px 45px;
 }
 
 #entry .block .block01 p{
 	font-size: 14px;
 	font-weight: 600;
 	color: #000;
 	line-height: 2em;
 	padding-bottom: 30px;
 }
 #entry .block .block02 .pad-r{
 	padding-right: 25px;
 }
 #entry .block .block01 .entry_plan{
 	width: 100%;
 	margin:30px 0;
 }
 #entry .block .block04{
 	margin-bottom: 100px;
 }
 /*----------- entry  --------
 * 
 */
 
 
  /*----------- movie  --------
 * 
 */
 
 #movie{
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
	overflow:hidden;
}
 #movie #wrapper{
	background: url(../images/movie/back.png) no-repeat top center;
	background-color:#ffdead;
	height:50%;
	padding-bottom: 120px;	
	width:100%;
    background-attachment: fixed;
}
 #movie .inner_movie{
	width:1135px;
	max-width:95%;
	margin:0 auto;
	position: relative;
}
.header_movie{
    position: fixed;
    background: url(../images/common/border.png) repeat-x bottom center;
    background-color: #fff;
    padding: 3px 0 10px 0;
    margin-top: -20px;
    z-index: 9999;
}
.header_movie .people{
}
 #movie .img{
	 position:absolute;
}
 #movie .block01,
 #movie .block02,
 #movie .block03{
    text-align: center;
    height: 100%;
    padding-top: 70px;
    margin-bottom: 0;
}
 #movie .index_rig{
	bottom: 0;
    left: 96px;
}
 #movie .index_lef{
	bottom: 0;
    right: 96px;
}
 #movie .block01 .flag_lef,
 #movie .block03 .flag_lef{
    bottom: 33px;
    left: 16px;
}
 #movie .block02 .flag_rig{
    bottom: 33px;
    right: 16px;
}
 #movie .block01 .text_rig{
    width: 340px;
    top: 158px;
    right: 10px;
}
#movie .block03 .text_rig {
    width: 340px;
    top: 158px;
    right: 10px;
}
 #movie .block01 .text_rig2,
 #movie .block03 .text_rig2{
    width: 340px;
    top: 158px;
    right: 10px;
}
 #movie .block02 .text_lef{
    width: 340px;
    top: 158px;
    left: 10px;
}
 #movie .block02 .text_lef2{
    top: 73px;
    left: 171px;
}
 #movie .block01 .woman_rig,
 #movie .block03 .woman_rig{
	 bottom: -5px;
    right: 27px;
    z-index: -10;
    width: 14%;
}
 #movie .block02 .woman_lef{
bottom: -5px;
    left: 27px;
    z-index: -10;
    width: 14%;
}
 #movie .block01 .recruit_movie,
 #movie .block02 .recruit_movie,
 #movie .block03 .recruit_movie{
    margin: auto;
    width: 592px;
	height:543px;
	position:relative;
}
#movie .block01 .recruit_movie{
    background: url(../images/movie/movie_back1.png) no-repeat center;
}
#movie .block02 .recruit_movie{
    background: url(../images/movie/movie_back2.png) no-repeat center;
}
#movie .block03 .recruit_movie{
    background: url(../images/movie/movie_back3.png) no-repeat center;
}
 #movie .block01 .recruit_movie iframe,
 #movie .block02 .recruit_movie iframe,
 #movie .block03 .recruit_movie iframe{
    margin-top: 155px;
    width: 94%;
    height: 58%;
}
 #movie .people{
	position: fixed;
    bottom: 80px;
	width:110%;
}
 #movie .footer_movie{
    position: fixed;
    bottom: 0;
}
 #movie .bx-wrapper {
    padding-bottom: 0;
}

 #movie .bx-wrapper .bx-pager {
    padding-bottom: 1%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
 #movie .bx-viewport {
    margin-top: 20px;
}

 #movie .bx-wrapper .bx-pager.bx-default-pager a.active,
  #movie .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: #f15a24;
}
  #movie .bx-wrapper .bx-controls-direction a{  
	top: 48%;
    margin-top: -16px;
    outline: 0;
    width: 50px;
    height: 135px;
}
 #movie .bx-wrapper .bx-controls-direction a:hover{
	 opacity:0.5; 
 }
 #movie .bx-wrapper .bx-prev {
    left: -5% !important;
    background: url(../images/movie/prev.png) no-repeat;
}
 #movie .bx-wrapper .bx-next {
    right: -5% !important;
    background: url(../images/movie/next.png) no-repeat;
}

/*
.feed-prev-btn {
  background-image: url(../images/btn_prev.png);
}
.feed-next-btn{
  background-image: url(../images/btn_next.png);
}
.feed-prev-btn:hover {
  background-image: url(../images/btn_prev_on.png);
}
.feed-next-btn:hover{
  background-image: url(../images/btn_next_on.png);
}
.feed-prev-btn .bx-prev {
  width: 100%;
  display: block;
}
.feed-next-btn .bx-next {
  width: 100%;
  display: block;
}
.navi-btn {
  margin: 79px 8px 0 9px;
  width: 23px;
  height: 23px;
  -webkit-background-size: 23px;
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
}
*/



  /*----------- movie  --------
 * 
 */
 
 
 
 
 
 
 
 
 
 